
*.v2
*.pb
Primer-piloto-CoppeliaSim/img_classifier_model2022-09-20.model/variables/variables.data-00000-of-00001
Primer-piloto-CoppeliaSim/img_classifier_model2022-09-20.model/variables/variables.index
